@font-face {
    font-family: 'Aniron';
    font-style: normal;
    font-weight: normal;
    src: local('Aniron'), url('anirm___.woff') format('woff');
}


@font-face {
    font-family: 'Aniron Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Aniron Bold'), url('anirb___.woff') format('woff');
}    

text-center {
    text-align: center;
}

h1, .h1 {
    font-family: 'Aniron';
    font-size: 40px;
    text-align: center;
}

h2, .h2 {
    font-family: 'Aniron';
    font-size: 40px;
    margin: 2px;
    text-align: center;
    margin-top: 20px;
}

p {
    font-family: 'Cormorant Garamond';
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 15px;
}

body {
    max-width: 1200px;
}

ol {
    list-style-position: inside;
    font-family: 'Cormorant Garamond';
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}

img {
    width: 300px;
    padding: 15px;
    border-style: dashed;
    border-width: 5px;
    border-color: black;
    background-color: lightgray;
}
    
.imgContainerLeft {
    float: left;
    text-align: left;
}

.imgContainerRight {
    float: right;
    text-align: right;
}
    
figcaption {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: bold;
    max-width: 340px;
    padding-top: 15px;
}
    
.spoiler {
    color: black;
    background-color: black;
}

.spoiler:hover {
    background-color: inherit;
}

.mySlides {
    padding-left: 10px;
    display: none;
}